.lineChartContainer {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #CBD5E1;
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lineChartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-bottom: 20px;
}

.lineChartHeaderTitleContainer {
    display: flex;
    align-items: center;
    padding: 0;
}

.lineChartHeaderTitle {
    padding: 0;
}

.lineChartHeaderSubtitle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.trendStat {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBBF24;
    color: #fff;
    border-radius: 5px;
    padding: 7px;
    font-size: 12px;
}

.trendStatIcon {
    font-size: 12px;
}

/* .lineChartHeaderButtons {
    display: flex;
    align-items: center;    
    justify-content: flex-end;
} */

.lineChart {
    padding: 0;
}

@media (min-width: 2500px) {
    .css-1oqqzyl-MuiContainer-root {
        max-width: 100vw;
        height: auto;
    }
}